body {
    background-color: rgb(244, 244, 231);
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8em;
}


/* HEADER SECTION */

header {
    background-color: rgb(69, 79, 156);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    position: fixed;
}
h1 {
    font-size: 2.5em;
}

nav ul {
    display: inline-flex;
}

.nav {
    display: flex;
    padding: 10px;
    font-size: 1.2em;
}

.nav a {
    color: white;
    text-decoration: none;
}

/* MAIN SECTION */

main {
    padding-top: 70px;
    margin: 0 30px;
}

/* About Me */

#about {
    display: inline-block;
    padding-left: 50px;
}

#skills li {
    display: inline-flex;
    padding: 0 20px;
    text-transform: uppercase;
}

#about p {
    margin: 20px 0;
    line-height: 20px;
}
